<ul> Great video clips from movies and TV
  <li><%= link_to "Gladiator", gladiator_video_path %></li>
  <li><%= link_to "Air Force One", air_force_one_video_path %></li>
  <li><%= link_to "Game of Thrones", game_of_thrones_video_path %></li>
  <li><%= link_to "Modern Family", modern_family_video_path %></li>
</ul>